<!DOCTYPE html>
<html lang="en">
<head>
  <title>RawSaousss</title>
  <meta charset="utf-8"/>
</head>
<body>

</body>
</html>

<body>
  <main>

    <h1>Välkommen till BurgerSauosss</h1>
    <section id="OrderOptions">
      <h2>Välj burgare</h2>

      <table>

        <tbody>
          <tr>
            <td>

              <p>#1 The BurgerSauosss burger </p>
              <img src="https://commentform.marketforce.com/images/BK-WebComment/BB_WHOPPER-v1.png" alt="Span" title="El BurgerSauosss" width="200">
              <ul>
                <li>Contains gluten</li>
                <li>May contain traces of nut</li>
                <li>Most popular burger</li>
              </ul>

            </td>

            <td>
              <p>#2 The Vegan BurgerSauosss</p>
              <img src="http://www.textures4photoshop.com/tex/thumbs/green-grass-and-clover-border-with-transparent-background-png-180.png" alt="span" title="El Vegan" width="200" height="120">
              <ul>
                <li>Vegan</li>
                <li>GlutenFree</li>
                <li>May taste like grass</li>
              </ul>
            </td>

            <td>
              <p>#3 The Definetly not the same as BurgerSauosss burger</p>
              <img src="https://commentform.marketforce.com/images/BK-WebComment/BB_WHOPPER-v1.png" alt="Span" title="El Differento" width="200">
              <ul>
                <li>Contains gluten</li>
                <li>May contain traces of nuts</li>
                <li>Is different from #1</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

    </section>

    <section id="Contact">
      <h2>Customer Information</h2>
      <p>neccessary delivery information</p>

      <form class="ContactInfo" action="index.html" method="post">

        <p>
          <label for="full name">Full name</label><br>
          <input type="text" id="full name" name="fn" required="required" placeholder="First and last name">
        </p>

        <p>
          <label for="email">Email address</label><br>
          <input type="email" id="email" name="em" required="required" placeholder="E-mail address">
        </p>

        <p>
          <label for="street">Street</label><br>
          <input type="text" id="Street" name="st" placeholder="Street name">
        </p>

        <p>
          <label for="House">House</label><br>
          <input type="number" id="House" name="hn" placeholder="House number">
        </p>



        <p>
          <label for="Payment">Payment options</label><br>
          <select id="Payment" name="Payment options">
            <option>Creditcard</option>
            <option>Cash</option>
            <option>Swish</option>
            <option>Paypal</option>
          </select>
        </p>

        <p>
          <input type="radio" name="gender" value="Undefined" checked="checked"> Undefined<br>
          <input type="radio" name="gender" value="male"> Male<br>
          <input type="radio" name="gender" value="female"> Female<br>
        </p>
      </form>
        <button type="submit"><img src="https://static1.squarespace.com/static/5963f7c372af654bbd9e82fa/t/5b240a51f950b7b369470ba1/1529088595869/order.jpg" width='150'></button>

    </section>

  </main>

  <footer>
    <h4> Contact Information: Don't call me </h4>
  </footer>
</body>
