git status
git add
git commmit -m""
git push
download as zip
upload to studentportalen
</address>
<div class="wrapper" align="center">


<div class="Burger a" align="center">


        <p id="Burger Text1">#1 The BurgerSauosss </p>
        <img id="Burger b" src="https://commentform.marketforce.com/images/BK-WebComment/BB_WHOPPER-v1.png" alt="Span" title="El BurgerSauosss" width="200">
        <ul id="Burger Inf1">
          <li id="Gluten">Contains gluten</li>
          <li id="Nuts">May contain traces of nuts</li>
          <li>Is different from #1</li>
        </ul>



      </div>

      <div class="Burger b" align="center">
        <p id="Burger TextVegan">#2 The Vegan </p>
        <img id="Burger ImgVegan" src="http://worldartsme.com/images/safari-grass-clipart-1.jpg" alt="span" title="El Vegan" width="200" height="135">
        <ul id="Burger InfVegan">
          <li id="Gluten">Contains gluten</li>
          <li id="nuts">May contain traces of nut</li>
          <li>Most popular burger</li>
        </ul>

      </div>

      <div class="Burger c" align="center">

        <p id="Burger Text2">#3 Not BurgerSauosss</p>
        <img id="Burger Img2" src="https://commentform.marketforce.com/images/BK-WebComment/BB_WHOPPER-v1.png" alt="Span" title="El Differento" width="200">
        <ul id="Burger Inf2">
          <li id="Vegan">Vegan</li>
          <li id="Gluten">GlutenFree</li>
          <li>May taste like grass</li>
        </ul>
      </div>

  </div>



  <div id="AllBurgers">

  <ol v-for = "item in Menu">
  <li> {{item.name}}</li>
  <li>{{item.Kcal + "Kcal"}}</li>
  <li v-if= "item.gluten"> {{"Contains Gluten"}}</li>
  <li v-if="item.lactose">{{"Contains Lactose"}}</li>
  <li v-if="item.nuts">{{"Contains Nuts"}}</li>


  </ol>
  </div>

  <p>
    <label for="street">Street</label><br>
    <input type="text" id="Street" name="st" placeholder="Street name">
  </p>

  <p>
    <label for="House">House</label><br>
    <input type="number" id="House" name="hn" placeholder="House number">
  </p>

  var street = document.getElementById("Street").value;
  var house_number = document.getElementById("House").value;
